### Week 1, class 2
# *Containers*

---
This part contains a lot of examples of basic manipulations of lists, tuples, and dictionaries. It is easy for you to quickly forget most of them. So, it is a good idea to practice these manipulations many times. It is like learning real languages. You need to memorize and practice. Initially, it can be challenging to remember all of them, but it will become a natural part of yourself as you accumulate programming experience. Keep practice!

---

### **List**

"List" is the most basic and simple container in Python.

---
#### **Basic usage**

* A list can be defined with `[` and `]` as enclosing characters, with comma as separator.
* A list can contain multiple elements with heterogeneous types.
* A list is mutable.


* Negative index correspond to the elements iterated from the end of the list.
* For example, index of `-1` correspond to the last element.


* `in` : checks the existence of an element.
* `len(list)` : the number of elements in the list.
* `max(list)` : maximum value in the list. 
* `min(list)` : minimum value in the list.
* `+` operator between lists represent concatnation.
* `*` operator represents repeat of a list.
* `list.append(element)` : Append an element to the end of the `list`.
* `list.extend(newlist)` : Append all elements in the new list to the end of the `list`
<br>
* `list.sort()` : sorts the list
* `list.reverse()` : reverses the order
* `list.insert(index, value)` : insert a value at the specified index
* `list.clear()` : removes all elements
* `sorted(list, reverse_option)` : sorts a list with an option for 'reverse sort'

**There are three ways of removing an element**

* `list.pop(index)` : removes an element and returns it. Default index = -1.
* `del(list[index])` : removes the specified element
* `list.remove(value)` : removes the first element matching the value
<br>

In [ ]:
sample_list1 = [1, 2, 3]
print(sample_list1)

sample_list2 = ['this','that','it', 1, [2,3]]
print(sample_list2)

In [ ]:
mammals = ["human", "monky", "mouse", "rat", "cat", "dog"]

In [ ]:
len(mammals)

In [ ]:
len(sample_list2)

In [ ]:
mammals[0]

In [ ]:
mammals[3]

In [ ]:
mammals[5]

In [ ]:
mammals[6]

In [ ]:
mammals[-1]

In [ ]:
mammals[-2]

In [ ]:
mammals[-6]

In [ ]:
mammals[-7]

In [ ]:
for m in mammals:
    print(m)

In [ ]:
for i in range(len(mammals)):
    mammals[i] = mammals[i] + ' runs'
    print(mammals[i])

In [ ]:
mammals.append('Cat runs')
mammals

In [ ]:
mammals.extend(['Dog runs', 'Horse runs'])
mammals

In [ ]:
new_mammals = mammals + ['Koala runs', 'Fox runs']

In [ ]:
new_mammals

In [ ]:
new_mammals.insert(4, 'Zebra runs')

In [ ]:
new_mammals

In [ ]:
del new_mammals[0]

In [ ]:
new_mammals

In [ ]:
new_mammals.remove('Cat runs')
new_mammals

In [ ]:
new_mammals.sort()
new_mammals

In [ ]:
reverse_runs = sorted(new_mammals, reverse=True)
reverse_runs

#### **Slicing a list**

* A subset of list can be generated using `:` operator
* `beg:end` represent elements with index from `beg` to `end-1`
* If `beg` is empty, it implies 0. If `end` is empty, it implies the length of the list.

In [ ]:
t = [42, 1024, 23, 6, 28, 496]  # define a list with 6 elements
print(t[-1])   # print the last element
print(t)       # print the entire list
print(t[1:4])  # print 2nd to 4th elements
print(t[3:])   # print from the 4th elements
print(t[:2])   # print up to 2nd elements
print(t[:])    # print all elements
t[2:5] = [2,3,5] # change 3rd, 4th, 5th elements
print(t)

#### **Extended slicing**

* If `beg:end:step` is used, it represents elements from `beg` to `end-1`, with step size of `step`.
* The default step size is 1 if omitted.

In [ ]:
t = [42, 1024, 23, 6, 28, 496]  # define a list with 6 elements
print(t[1:4:2]) # 2nd to 4th elements, with step size 2 (every other elements)
print(t[:5:2])  # 1st to 5th elements, with step size 2 (every other elements)
print(t[::3])   # 1st to end, with step size 3 
print(t[1:4:1]) # same to t[1:4]

#### **enumerate()**

In [ ]:
for index, value in enumerate (t):
    print("Element", index, "->", value)

#### **zip()**

In [ ]:
first = ['Hyun', 'Bhramar', 'Mike']
last = ['Kang', 'Mukherjee', 'Boehnke']

print(list(zip(first,last)))

for name in zip(first,last):
    print("Dear", name[0], name[1], "," )

#### **Copying or referencing a list**

* See lecture slides to learn why the behavior seem to be different.

In [ ]:
v1 = 10    # v1 is a integer
v2 = v1    # v2 is copied
v1 = 8     # let's change v1
print(v1)  # would v2 also be changed?
print(v2)
t1 = [42, 1024, 23]  # t1 is a list
print(t1)
t2 = t1              # t2 is a copy(?) of list
print(t2)
t1[1] = 6            # t1 is modified
print(t1)            # will t2 also be modified?
print(t2)

#### **Shallow copy of a list**

* See lecture slides to learn the difference between referencing and copying.

In [ ]:
t1 = [42, 1024, 23]  # create a list
t2 = t1              # this only copies the address (copy by reference)
t3 = t1.copy()       # list.copy() function actually makes a copy
t1[1] = 6            # now let's modify t1.
print(t1)            # t1 is already modified
print(t2)            # would t2 be also modified?
print(t3)            # would t3 be also modified?

#### **A nested list**

* A list can contain another list, making it nested.

In [ ]:
# create a list of list
names = [['Hyun', 'Kang'], ['Bharmar','Mukherjee'], ['Mike', 'Boehnke']] 
print(names)
print(names[1])    # 2nd element is still a list
print(names[1][1]) # access the actual element using double index

#### **Shallow vs. Deep copy**

* See lecture slides to learn the difference between shallow and deep copy

In [ ]:
import copy  # copy.deepcopy function performs a deep copy
t1 = [ [42, 1024, 23], [6, 3, 28] ] # create a nested list
t2 = t1                             # copy by reference
t3 = t1.copy()                      # shallow copy
t4 = copy.deepcopy(t1)              # deep copy
t1[1][1] = 10                       # modified an element
print(t1)                           # t1 should be modified already
print(t2)                           # would t2 be modified?
print(t3)                           # how about t3?
print(t4)                           # how about t4?

#### **Be careful when passing a list as an argument**

* When a list is passed as an argument, the function may alter the contents of the input argument.

In [ ]:
def double(x):   # Function that doubles all elements
    for i in range(len(x)):
        x[i] = 2 * x[i]
    return x

t1 = [42, 1024, 23]     
t2 = double(t1)
t3 = double(t1.copy())
print(t1, t2, t3, sep='\n')
t2[2] = 6
t3[2] = 28
print(t1, t2, t3, sep='\n')

#### **A simple solution to avoid the problem**

* The input argument needs to be copied first before modification, if inteneded to be unchanged.

In [ ]:
def double(x):   # Function that doubles all elements
    x = x.copy()   # Make a local copy of it
    for i in range(len(x)):
        x[i] = 2 * x[i]
    return x       # Now returning a copy

t1 = [42, 1024, 23]     
t2 = double(t1)
t3 = double(t1.copy())
print(t1, t2, t3, sep='\n')
t2[2] = 6
t3[2] = 28
print(t1, t2, t3, sep='\n')

---
### **Tuples**

Tuples are similar to lists, except that tuple is immutable. It uses `()` instead of `[]`

---

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000); 
tup2 = (1, 2, 3, 4, 5 ); 
tup3 = "a", "b", "c", "d";
tup4 = ();
tup5 = (50,);   # you need comma if there is only one member. Without a comma, it is simply an integer.

#### **Unpacking**

* Tuples and lists can be unpacked item by item.
* In this case, the number of elements must match.

In [ ]:
my_tuple = (42, 1024, 23) # define a tuple
print(my_tuple)

(f1, f2, f3) = my_tuple   # unpack a tuple
print(f1, f2, f3)

In [ ]:
my_list = [42, 1024, 23]  # define a list
print(my_list)

[e1, e2, e3] = my_list    # unpack a list
print(e1, e2, e3)

In [ ]:
g1, g2, g3 = my_list  # when unpacking, the parenthesis can be omitted
print(g1, g2, g3)

In [ ]:
my_string = "Wow"       # string is also like a tuple
c1, c2, c3 = my_string  # access individual elements
print(c1, c2, c3)

#### **Using tuple as a concise function argument**

In [ ]:
def func(a,b,c):
    print(a,b,c)

my_arg = (1,2,4)
func(*my_arg)    # This unpacks the tuple and give it to a function.

---
### **Dictionaries**

Dictionary is an unordered associative container of a (key,value) pair. Keys must be unique.


---
#### **Usage**

* A dictionary can be defined using `dict()` function and arbitrary keyword arguments.
* Additional element can be added using `[]` and `=` operators.


* `dict.update(dict)` : adds more pairs
* `del` : removes an element
* `key in dict` : checks if a key exists
* `key not in dict` : checks if a key exists


* `keys(),values(),items()` function can access elements of a dictionary.
* Like `range()`, the output is not a list type, but can be easily converted.


* Dictionary is also copied by reference.
* `.copy()` function can make a shallow copy

In [ ]:
capitals = {'United States': 'Washington, DC', 'France':'Paris', 'Italy':'Rome'}
print(capitals)

In [ ]:
capitals['Italy']

In [ ]:
capitals['Spain'] = 'Marid'           # Add new item
print(capitals)

In [ ]:
capitals['Germany']  #error

In [ ]:
'Germany' in capitals # False  "in" keyword.   "in" operator checks if such key exist in the dictionary.

In [ ]:
'Italy' in capitals   # True

In [ ]:
'Italy' not in capitals   # False

In [ ]:
morecapitals = {'South Korea': 'Seoul', 'United Kingdom':'London'}
capitals + morecapitals   # Error. You can't combine two dict with '+'

In [ ]:
capitals.update(morecapitals)   # addition
print(capitals)

In [ ]:
del capitals['United States']
print(capitals)

In [ ]:
# These examples of using keys(), values(), and items() are missing from videos
for v in capitals.values():
    print(v)

for k in capitals.keys():
    print(k)
    
for k, v in capitals.items():
    print(k,v)

### Defining dictionary from a nested list or tuple

* A dictionary can be created from a (nested) list containing `[key,value]` pairs using `dict()` function.
* Such a nested list can be generated with `zip()` function too.

In [ ]:
# make a list, where each element is list of two elements
t = [['answer', 42], ['kilo', 1024], ['birthday',23]]
print(t)

d1 = dict(t)  # use dict() function to define a list 
print(d1)

In [ ]:
# start with two lists storing keys and values
a = ['pi', 'e', 'golden_ratio']
b = [3.14, 2.718, 1.618]

d2 = dict(zip(a,b))  # using zip() combines two lists in parallel
print(d2)

---
### **Sets**

Sets are unordered containers. Sets do not allow duplication.


---
#### **Usage**

* A set can be produced from a list or tuple (including a string)
* `-, |, &, ^` : Set union, intersection, and difference operators can be made.


* `set(list, tuple, or string)` : constructs a set
* `add(value)` : add an element
* `remove(value)` : removes an element

In [ ]:
names = set(['Claire', 'John', 'Paul']) 
print(names)

In [ ]:
continents = {'America', 'Europe', 'Asia', 'Oceania', 'Africa'}
print(continents)

In [ ]:
'Africa' in continents

In [ ]:
continents.add('Antartica')
print(continents)

In [ ]:
continents.remove('Antartica')
print(continents)

In [ ]:
for c in continents:
    print(c)

In [ ]:
# set can be made from list, tuple, or string
a = set('abracadabra')
b = set('wingardiumleviosa')
print(a)
print(b)

In [ ]:
# letters in a, but not in b
print(a-b)

In [ ]:
# union of letters in a and b
print(a|b)

In [ ]:
# intersection of letters in a and b
print(a&b)

In [ ]:
# letters exclusively in a or b
print(a^b)

### **Comprehensions**

In [ ]:
squares = list()

for i in range(10):
    squares.append(i**2)
    
print(squares)

In [ ]:
squares2 = [ i**2  for i in range(10)   ]
print(squares2)

In [ ]:
squares = list()

for i in range(10):
    if i%3 == 0:
        squares.append(i**2)
    
print(squares)

In [ ]:
squares3 = [ i**2  for i in range(10) if i%3 == 0  ]
print(squares3)

In [ ]:
squares4_dict = {i:i**2 for i in range(10) if i%3==0 }
print(squares4_dict)

In [ ]:
counting = []
for i in range(1,6):
    for j in range(1, i+1):
        counting.append(j)

print(counting)

In [ ]:
count2 = [ j  for i in range(1,6)   for j in range(1, i+1)   ]
print(count2)

#### **Transpose**

In [ ]:
capitals = {'United States': 'Washington, DC', 'France':'Paris', 'Italy':'Rome'}
print(capitals)

In [ ]:
countries_by_capital = { capitals[key]:key   for key in capitals  }
print(countries_by_capital)

In [ ]:
countries_by_capital2 = { capital:country   for country, capital in capitals.items()  }
print(countries_by_capital2)

In [ ]:
var1 = 42
var2 = 1024
var1, var2 = var2, var1

In [ ]:
var1

In [ ]:
var2

In [ ]:
var3 = 6

In [ ]:
var1, var2, var3 = var2, var3, var1

In [ ]:
print(var1,var2,var3)